@media only screen and (min-width: 1200px){

/*Prevents sliding on the larger resolutions*/
.navbar
{
    padding-right: 45%;
}


.description
{
    width: 85%;
}


.col-xl-4, .col-xl-8
{
    /*align-items: center;
    align-content: center;*/
}



}